extends layout

block title
  title Matthew Crider

block content
  .contents-container
    #contents
      nav
        h1.nav-title
          a(href='/') MC
        ul.right
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
      #page
        .home
          h1 Placeholder for the best wedding website ever
        
